    body {
        font-family: 'Libre Baskerville', serif;
        }

    #div1 {
        background-color: aliceblue;
        text-align: center;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 25%;
        padding: 1%;
        border: solid black 5px;
        font-size: 18px;
        }
    
    .button {
        text-align: center;
        }